body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e3e6e6;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131921;
    color: white;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.search-box {
    display: flex;
    width: 50%;
}

.search-box input {
    width: 100%;
    padding: 8px;
    border: none;
}

.search-box button {
    padding: 8px 15px;
    background-color: #febd69;
    border: none;
    cursor: pointer;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #febd69;
}

/* Hero Section */
.hero {
    background-image: linear-gradient(to right, #f6f6f6, #ddd);
    text-align: center;
    padding: 60px 20px;
}

/* Products */
.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 20px;
}

.product-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 220px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card img {
    width: 100%;
    border-radius: 8px;
}

.product-card h3 {
    font-size: 16px;
    margin: 10px 0;
}

.product-card p {
    font-size: 14px;
    color: green;
    margin-bottom: 10px;
}

.product-card button {
    padding: 8px 15px;
    background-color: #ffd814;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}